@import '_variables';

h1 {
  color: $red-color;
}
h2 {
  color: blue;
}

.card-text{
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.select-all {
  min-width: 90px;
}

.checkbox-select-all {
  width: 140px;
  margin: 0 8px;
}

.c-item img {
  max-width: 100%;
  height: auto;
}